<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    {% block title %}
    {% endblock %}
</head>
<body>
<div id="list_view">
    <a href="/" >Список категорий товаров</a>
</div>
<div id="create_product">
    <a href="/create_product" >Добавить товар</a>
</div>
<div id="create_category">
    <a href="/create_category" >Добавить категорию товара</a>
</div>
<form role="search" action="{% url 'search' %}" method="get">
    <input name="q" type="text" placeholder="Поиск...">
    <button type="submit" >Поиск</button>
</form>
<div id="content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>